/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #404040;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	background: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #e6618c;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration:none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

header{
	position: absolute;
	top: 0;
	z-index: 1000;
	color: #fff;
	text-align: center;
	width: 100%;

}
	header>h1{
		font-size: 3.75em; 
		font-family: 'Pangolin', cursive;
		margin-bottom: 25px;
		text-shadow: 0px 0px 5px black;
		padding: 100px 20px 90px 20px;
		text-transform: uppercase;
	}

	header>h2{
		font-size: 1.35em;
		margin-bottom: 50px;
		font-family: 'Comfortaa', cursive;
		text-shadow: 0px 0px 5px black;
		padding: 10px 20px 30px 20px;

	}
	.buttons_set{
		background: rgba(0,0,0,0.65); display: table; padding: 20px; margin:0 auto 10px auto; border-radius: 5px;  
	}
